#main section {
  padding: 20px;
  margin-top: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

.mailinglist {
  position: relative;
  border-radius: 2.5rem;
  background-color: rgb(238, 242, 255);
  overflow: hidden;
  padding: 4rem;
  img {
    position: absolute;
    transform: matrix(1, 0, 0, 1, -294.08, -607.95);
    opacity: 0.6;
  }

  &-text, &-text a.learn-more {
    position: relative;
    color: rgb(30, 58, 138);
    h2 {
     font-size: 3rem;
     letter-spacing: -.05em;
     font-weight: 500;
     margin-top: 0;
    }
  }
}
