.main-content table {
  margin: 0px auto;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #b3c9d2;
    -moz-box-shadow: 0px 0px 10px #b3c9d2;
    -webkit-box-shadow: 0px 0px 10px #b3c9d2;

  tr:nth-child(odd) {
    background: #EDEFF0;
  }

  tr:nth-child(even) {
    background: #f8f8f8;
  }

  tr:first-child {
    background: #D2E1E4;
  }

  th, td {
    padding: 5px 10px;
  }

  &.stretch {
    td, th {
      border: 3px solid #fff;
    }
  }

  tr:hover td.highlight {
    background-color: #BFEAFF;
  }
}

.main-content table.schedule {
  td {
    border: 1px solid #CCCCCC;
  }
  
  .notrack {
    text-align: center;
  }
  
  .track_keynote {
    text-align: center;
    background-color: #F7AE66;
  }
  
  .track1 {
    background-color: #ADD8E6;
  }
  
  .track2 {
    background-color: #F0A0A0;
  }
  
  .track3 {
    background-color: #D6C8EE;
  }
  
  .track4 {
    background-color: #A0F0F0;
  }
  
  .track5 {
    background-color: #A0EEB5;
  }
  
  .track6 {
    background-color: #EEEE44;
  }
  
  .tracklightning {
    background-color: #84EE42;
  }
}
